<html>

<head>

    <title>
{{title}}
    </title>
</head>
<body>
    <h1>  {{title}}  </h1>
    <p>  addition {{sum}}  </p>
    <p> subtraction  {{substract}}  </p>
        <p> multiply  {{multiply}}  </p>

    



</body>
</html>